@{
    ViewData["Title"] = "Home Page";
}

    <div class="col-md-9">
        <a href="https://www.friliv.dk/" title="Friliv.dk">Friliv</a>
    </div>
    <div class="col-md-9">
        <a href="https://andersenoutdoor.se/" title="AndersenOutdoor.se">AndersenOutdoor Sverige</a>
    </div>
